.container {
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 480px) {
  .container__row {
    max-width: 300px;
  }
}

@media (min-width: 480px) {
  .container__row {
    max-width: 460px;
  }
}

@media (min-width: 640px) {
  .container__row {
    max-width: 620px;
  }
}

@media (min-width: 960px) {
  .container__row {
    max-width: 940px;
  }
}

@media (min-width: 1200px) {
  .container__row {
    max-width: 1160px;
  }
}

.container {
  min-width: 100%;
}

.block-whowe {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

.block-whowe__slogan {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.block-whowe__text {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.block-whowe__image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.block-whowe_p {
  color: #292f36;
  line-height: 1.25;
  font-weight: 600;
  letter-spacing: 0.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 1em;
  margin: 0;
}

@media (min-width: 1200px) {
  .block-whowe_p {
    font-size: 2.5rem;
  }
}

@media (min-width: 960px) {
  .block-whowe_p {
    font-size: 1.8rem;
  }
}

@media (min-width: 640px) {
  .block-whowe_p {
    font-size: 1.5rem;
  }
}

@media (min-width: 480px) {
  .block-whowe_p {
    font-size: 1.25rem;
  }
}

@media (max-width: 480px) {
  .block-whowe_p {
    font-size: 1.06rem;
  }
}

.block-whowe_h1 {
  color: #292f36;
  line-height: 1.25;
  font-weight: 600;
  letter-spacing: 0.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 0.67em;
  margin: 0;
}

@media (min-width: 1200px) {
  .block-whowe_h1 {
    font-size: 4.37rem;
  }
}

@media (min-width: 960px) {
  .block-whowe_h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 640px) {
  .block-whowe_h1 {
    font-size: 1.8rem;
  }
}

@media (min-width: 480px) {
  .block-whowe_h1 {
    font-size: 2.1rem;
  }
}

@media (max-width: 480px) {
  .block-whowe_h1 {
    font-size: 1.5rem;
  }
}

.block-whowe__slogan_slider {
  height: 185px;
  overflow: hidden;
}

.block-whowe__slogan_slider > div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 185px;
  text-align: start;
}

.block-whowe__slogan1 {
  -webkit-animation: slide 12s linear infinite;
          animation: slide 12s linear infinite;
}

@-webkit-keyframes slide {
  0% {
    margin-top: -740px;
  }
  5% {
    margin-top: -370px;
  }
  33% {
    margin-top: -370px;
  }
  38% {
    margin-top: -180px;
  }
  66% {
    margin-top: -180px;
  }
  72% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes slide {
  0% {
    margin-top: -740px;
  }
  5% {
    margin-top: -370px;
  }
  33% {
    margin-top: -370px;
  }
  38% {
    margin-top: -180px;
  }
  66% {
    margin-top: -180px;
  }
  72% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}

.container {
  color: #292F36;
}

.container__row {
  width: 100%;
  margin: auto;
}

.block-whatwedo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 12% 10% 80%;
      grid-template-rows: 12% 10% 80%;
  grid-gap: 3%;
}

@media (max-width: 960px) {
  .block-whatwedo {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 20% 5% 80%;
        grid-template-rows: 20% 5% 80%;
  }
}

@media screen and (max-width: 640px) {
  .block-whatwedo {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1% 1% 40% 45%;
        grid-template-rows: 1% 1% 40% 45%;
    grid-gap: 8%;
  }
}

@media (max-width: 480px) {
  .block-whatwedo {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1% 1% 40% 45%;
        grid-template-rows: 1% 1% 40% 45%;
    grid-gap: 7%;
  }
}

.block-whatwedo__h1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/2/3;
  font-size: 2.5rem;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .block-whatwedo__h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 960px) {
  .block-whatwedo__h1 {
    font-size: 2rem;
  }
}

@media (max-width: 640px) {
  .block-whatwedo__h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .block-whatwedo__h1 {
    font-size: 1.3rem;
  }
}

.block-whatwedo__h2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2/1/3/3;
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  .block-whatwedo__h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 960px) {
  .block-whatwedo__h2 {
    font-size: 1.3rem;
  }
}

@media (max-width: 640px) {
  .block-whatwedo__h2 {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .block-whatwedo__h2 {
    font-size: 0.9rem;
  }
}

.single-visits {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3/1/4/2;
  background-color: #F2F2F5;
}

.regular-visits {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3/2/4/3;
  background-color: #F2F2F5;
}

@media screen and (max-width: 640px) {
  .regular-visits {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 4/1/5/2;
    margin-top: 7%;
  }
}

.single-visits,
.regular-visits {
  display: -ms-grid;
  display: grid;
  grid-gap: 10%;
  padding: 10%;
  height: 100%;
  -ms-grid-column: 1;
  grid-column: 1fr;
  -ms-grid-rows: 20% 10% 60%;
      grid-template-rows: 20% 10% 60%;
}

@media (max-width: 960px) {
  .single-visits,
  .regular-visits {
    -ms-grid-rows: 15% 10% 70%;
        grid-template-rows: 15% 10% 70%;
  }
}

@media screen and (max-width: 640px) {
  .single-visits,
  .regular-visits {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 15% 10% 70%;
        grid-template-rows: 15% 10% 70%;
    grid-gap: 10%;
  }
}

@media (max-width: 480px) {
  .single-visits,
  .regular-visits {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 10% 8% 80%;
        grid-template-rows: 10% 8% 80%;
    grid-gap: 10%;
  }
}

@media (max-width: 1200px) {
  .img-heart {
    width: 4rem;
  }
}

@media (max-width: 960px) {
  .img-heart {
    width: 3.5rem;
  }
}

@media (max-width: 640px) {
  .img-heart {
    width: 3rem;
  }
}

@media (max-width: 480px) {
  .img-heart {
    width: 2.5rem;
  }
}

.single-visis__header,
.regular-visits__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
}

@media (max-width: 1200px) {
  .single-visis__header,
  .regular-visits__header {
    font-size: 2rem;
  }
}

@media (max-width: 960px) {
  .single-visis__header,
  .regular-visits__header {
    font-size: 1.7rem;
  }
}

@media (max-width: 640px) {
  .single-visis__header,
  .regular-visits__header {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  .single-visis__header,
  .regular-visits__header {
    font-size: 1.5rem;
  }
}

.single-visits__h3,
.regular-visits__h3 {
  margin-left: 1rem;
  font-size: 2rem;
}

@media (max-width: 1200px) {
  .single-visits__h3,
  .regular-visits__h3 {
    font-size: 2rem;
  }
}

@media (max-width: 960px) {
  .single-visits__h3,
  .regular-visits__h3 {
    font-size: 1.8rem;
  }
}

@media (max-width: 640px) {
  .single-visits__h3,
  .regular-visits__h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .single-visits__h3,
  .regular-visits__h3 {
    font-size: 1.3rem;
  }
}

.single-visits__p,
.regular-visits__p {
  font-size: 1.3rem;
  font-weight: 450;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
}

@media (max-width: 1200px) {
  .single-visits__p,
  .regular-visits__p {
    font-size: 1.2rem;
  }
}

@media (max-width: 960px) {
  .single-visits__p,
  .regular-visits__p {
    font-size: 1.1rem;
  }
}

@media (max-width: 640px) {
  .single-visits__p,
  .regular-visits__p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .single-visits__p,
  .regular-visits__p {
    font-size: 0.9rem;
  }
}

.regular-visits__list,
.single-visits__list {
  font-weight: 450;
}

.regular-visits__list_h3,
.single-visits__list_h3 {
  font-size: 1.2rem;
}

@media (max-width: 1200px) {
  .regular-visits__list_h3,
  .single-visits__list_h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 960px) {
  .regular-visits__list_h3,
  .single-visits__list_h3 {
    font-size: 1rem;
  }
}

@media (max-width: 640px) {
  .regular-visits__list_h3,
  .single-visits__list_h3 {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .regular-visits__list_h3,
  .single-visits__list_h3 {
    font-size: 0.8rem;
  }
}

.regular-visits__list_point,
.single-visits__list_point {
  font-size: 1rem;
}

@media (max-width: 1200px) {
  .regular-visits__list_point,
  .single-visits__list_point {
    font-size: 1rem;
  }
}

@media (max-width: 960px) {
  .regular-visits__list_point,
  .single-visits__list_point {
    font-size: 0.9rem;
  }
}

@media (max-width: 640px) {
  .regular-visits__list_point,
  .single-visits__list_point {
    font-size: 0.85rem;
  }
}

@media (max-width: 480px) {
  .regular-visits__list_point,
  .single-visits__list_point {
    font-size: 0.7rem;
  }
}

ul {
  list-style: none;
}

.single-visits__list_point li::before {
  content: "\2022";
  color: #F693BC;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.single-visits__list_h3 {
  color: #F693BC;
}

.regular-visits__list_point li::before {
  content: "\2022";
  color: #4DCDC4;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

li {
  margin-bottom: 3%;
}

.regular-visits__list_h3 {
  color: #4DCDC4;
}
/*# sourceMappingURL=style.css.map */