@charset "UTF-8";
.container {
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 480px) {
  .container__row {
    max-width: 300px;
  }
}

@media (min-width: 480px) {
  .container__row {
    max-width: 460px;
  }
}

@media (min-width: 640px) {
  .container__row {
    max-width: 620px;
  }
}

@media (min-width: 960px) {
  .container__row {
    max-width: 940px;
  }
}

@media (min-width: 1200px) {
  .container__row {
    max-width: 1160px;
  }
}

/* html {
    overflow-x: hidden;
} */
.container {
  min-width: 100%;
}

.block-whowe {
  display: -ms-grid;
  display: grid;
  min-height: 90vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1200px) {
  .block-whowe {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10%;
  }
}

@media (min-width: 1200px) {
  .block-whowe__slogan {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

@media (min-width: 1200px) {
  .block-whowe__text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

.block-whowe_p {
  color: #292f36;
  line-height: 1.25;
  font-weight: 600;
  letter-spacing: 0.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 1em;
  margin: 0;
}

@media (min-width: 1200px) {
  .block-whowe_p {
    font-size: 2.5rem;
  }
}

@media (min-width: 960px) {
  .block-whowe_p {
    font-size: 1.8rem;
  }
}

@media (min-width: 640px) {
  .block-whowe_p {
    font-size: 1.5rem;
  }
}

@media (min-width: 480px) {
  .block-whowe_p {
    font-size: 1.25rem;
  }
}

@media (max-width: 480px) {
  .block-whowe_p {
    font-size: 1.06rem;
  }
}

.block-whowe_h1 {
  color: #292f36;
  line-height: 1.25;
  font-weight: 600;
  letter-spacing: 0.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 0.67em;
  margin: 0;
}

@media (min-width: 1200px) {
  .block-whowe_h1 {
    font-size: 4.37rem;
  }
}

@media (min-width: 960px) and (max-width: 1200px) {
  .block-whowe_h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 640px) and (max-width: 960px) {
  .block-whowe_h1 {
    font-size: 1.8rem;
  }
}

@media (min-width: 480px) and (max-width: 640px) {
  .block-whowe_h1 {
    font-size: 2.1rem;
  }
}

@media (max-width: 480px) {
  .block-whowe_h1 {
    font-size: 1.5rem;
  }
}

.block-whowe__slogan_slider {
  height: 205px;
  overflow: hidden;
}

.block-whowe__slogan_slider > div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 205px;
  text-align: start;
}

.block-whowe__slogan_background {
  -webkit-animation: back 12s infinite;
          animation: back 12s infinite;
}

@media (min-width: 1200px) {
  .block-whowe__slogan_background {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #FFFFFF), color-stop(50%, #FEE474), color-stop(60%, #FFFFFF)) no-repeat;
    background: linear-gradient(to bottom, #FFFFFF 50%, #FEE474 50% 60%, #FFFFFF 60% 100%) no-repeat;
  }
  @-webkit-keyframes back {
    0% {
      background-size: 550px auto;
    }
    5% {
      background-size: 550px auto;
    }
    33% {
      background-size: 550px auto;
    }
    38% {
      background-size: 550px auto;
    }
    66% {
      background-size: 550px auto;
    }
    68% {
      background-size: 350px auto;
    }
    100% {
      background-size: 350px auto;
    }
  }
  @keyframes back {
    0% {
      background-size: 550px auto;
    }
    5% {
      background-size: 550px auto;
    }
    33% {
      background-size: 550px auto;
    }
    38% {
      background-size: 550px auto;
    }
    66% {
      background-size: 550px auto;
    }
    68% {
      background-size: 350px auto;
    }
    100% {
      background-size: 350px auto;
    }
  }
}

@media (min-width: 960px) and (max-width: 1200px) {
  .block-whowe__slogan_background {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(28%, #FFFFFF), color-stop(28%, #FEE474), color-stop(40%, #FFFFFF)) no-repeat;
    background: linear-gradient(to bottom, #FFFFFF 28%, #FEE474 28% 38%, #FFFFFF 40% 100%) no-repeat;
  }
  @-webkit-keyframes back {
    0% {
      background-size: 350px auto;
    }
    5% {
      background-size: 350px auto;
    }
    33% {
      background-size: 350px auto;
    }
    38% {
      background-size: 350px auto;
    }
    66% {
      background-size: 350px auto;
    }
    68% {
      background-size: 250px auto;
    }
    100% {
      background-size: 250px auto;
    }
  }
  @keyframes back {
    0% {
      background-size: 350px auto;
    }
    5% {
      background-size: 350px auto;
    }
    33% {
      background-size: 350px auto;
    }
    38% {
      background-size: 350px auto;
    }
    66% {
      background-size: 350px auto;
    }
    68% {
      background-size: 250px auto;
    }
    100% {
      background-size: 250px auto;
    }
  }
}

@media (min-width: 640px) and (max-width: 960px) {
  .block-whowe__slogan_background {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(18%, #FFFFFF), color-stop(18%, #FEE474), color-stop(28%, #FFFFFF)) no-repeat;
    background: linear-gradient(to bottom, #FFFFFF 18%, #FEE474 18% 28%, #FFFFFF 28% 100%) no-repeat;
  }
  @-webkit-keyframes back {
    0% {
      background-size: 250px auto;
    }
    5% {
      background-size: 250px auto;
    }
    33% {
      background-size: 250px auto;
    }
    38% {
      background-size: 250px auto;
    }
    66% {
      background-size: 250px auto;
    }
    68% {
      background-size: 180px auto;
    }
    100% {
      background-size: 180px auto;
    }
  }
  @keyframes back {
    0% {
      background-size: 250px auto;
    }
    5% {
      background-size: 250px auto;
    }
    33% {
      background-size: 250px auto;
    }
    38% {
      background-size: 250px auto;
    }
    66% {
      background-size: 250px auto;
    }
    68% {
      background-size: 180px auto;
    }
    100% {
      background-size: 180px auto;
    }
  }
}

@media (min-width: 480px) and (max-width: 640px) {
  .block-whowe__slogan_background {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(22%, #FFFFFF), color-stop(22%, #FEE474), color-stop(32%, #FFFFFF)) no-repeat;
    background: linear-gradient(to bottom, #FFFFFF 22%, #FEE474 22% 32%, #FFFFFF 32% 100%) no-repeat;
  }
  @-webkit-keyframes back {
    0% {
      background-size: 350px auto;
    }
    5% {
      background-size: 350px auto;
    }
    33% {
      background-size: 350px auto;
    }
    38% {
      background-size: 350px auto;
    }
    66% {
      background-size: 350px auto;
    }
    68% {
      background-size: 200px auto;
    }
    100% {
      background-size: 200px auto;
    }
  }
  @keyframes back {
    0% {
      background-size: 350px auto;
    }
    5% {
      background-size: 350px auto;
    }
    33% {
      background-size: 350px auto;
    }
    38% {
      background-size: 350px auto;
    }
    66% {
      background-size: 350px auto;
    }
    68% {
      background-size: 200px auto;
    }
    100% {
      background-size: 200px auto;
    }
  }
}

@media (max-width: 480px) {
  .block-whowe__slogan_background {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #FFFFFF), color-stop(15%, #FEE474), color-stop(20%, #FFFFFF)) no-repeat;
    background: linear-gradient(to bottom, #FFFFFF 15%, #FEE474 15% 20%, #FFFFFF 20% 100%) no-repeat;
  }
  @-webkit-keyframes back {
    0% {
      background-size: 300px auto;
    }
    5% {
      background-size: 300px auto;
    }
    33% {
      background-size: 300px auto;
    }
    38% {
      background-size: 300px auto;
    }
    66% {
      background-size: 300px auto;
    }
    68% {
      background-size: 150px auto;
    }
    100% {
      background-size: 150px auto;
    }
  }
  @keyframes back {
    0% {
      background-size: 300px auto;
    }
    5% {
      background-size: 300px auto;
    }
    33% {
      background-size: 300px auto;
    }
    38% {
      background-size: 300px auto;
    }
    66% {
      background-size: 300px auto;
    }
    68% {
      background-size: 150px auto;
    }
    100% {
      background-size: 150px auto;
    }
  }
}

.block-whowe__slogan1 {
  -webkit-animation: slide 12s linear infinite;
          animation: slide 12s linear infinite;
}

@-webkit-keyframes slide {
  0% {
    margin-top: -820px;
  }
  5% {
    margin-top: -410px;
  }
  33% {
    margin-top: -410px;
  }
  38% {
    margin-top: -205px;
  }
  66% {
    margin-top: -205px;
  }
  72% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes slide {
  0% {
    margin-top: -820px;
  }
  5% {
    margin-top: -410px;
  }
  33% {
    margin-top: -410px;
  }
  38% {
    margin-top: -205px;
  }
  66% {
    margin-top: -205px;
  }
  72% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}

.block-whowe__image {
  width: 30vw;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.block-whowe__img-dots {
  max-width: 40%;
  position: absolute;
  top: 0;
  right: 15%;
}

.block-whowe__img1 {
  max-width: 80%;
  max-height: 80%;
  position: absolute;
  top: 10%;
  right: 40%;
}

@media (max-width: 1200px) {
  .block-whowe__image,
  .block-whowe__image_background {
    display: none;
  }
}

.block-whowe__h4 {
  color: #292F36;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 600;
  margin-top: 0;
}

@media (max-width: 1200px) {
  .block-whowe__h4 {
    font-size: 1.25rem;
  }
}

.block-whowe__p-text {
  display: inline-block;
  color: #292F36;
  line-height: 1.55;
  font-weight: 400;
  height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;
  margin: 0;
  padding: 1% 0;
}

@media (min-width: 1200px) {
  .block-whowe__p-text {
    font-size: 1.06rem;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .block-whowe__p-text {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .block-whowe__p-text {
    font-size: 0.87rem;
  }
}

.block-whowe__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*анимация блока с картинками можно будет удалить*/
.block-whowe__image_background {
  -webkit-animation: ground 20s linear infinite;
          animation: ground 20s linear infinite;
  -webkit-animation-delay: 1ms;
          animation-delay: 1ms;
}

@-webkit-keyframes ground {
  0% {
    background: #FEE474;
  }
  30% {
    background: #FEE474;
  }
  34% {
    opacity: 0.9;
  }
  35% {
    background: #FFFFFF;
  }
  36% {
    background: #F693BC;
  }
  66% {
    background: #F693BC;
  }
  70% {
    opacity: 0.9;
  }
  71% {
    background: #FFFFFF;
  }
  72% {
    background: #4DCDC4;
  }
  99% {
    opacity: 0.9;
  }
  100% {
    background: #FFFFFF;
  }
}

@keyframes ground {
  0% {
    background: #FEE474;
  }
  30% {
    background: #FEE474;
  }
  34% {
    opacity: 0.9;
  }
  35% {
    background: #FFFFFF;
  }
  36% {
    background: #F693BC;
  }
  66% {
    background: #F693BC;
  }
  70% {
    opacity: 0.9;
  }
  71% {
    background: #FFFFFF;
  }
  72% {
    background: #4DCDC4;
  }
  99% {
    opacity: 0.9;
  }
  100% {
    background: #FFFFFF;
  }
}

.container {
  color: #292F36;
}

.container__row {
  width: 100%;
  margin: auto;
}

.block-whatwedo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 12% 10% 80%;
      grid-template-rows: 12% 10% 80%;
  grid-gap: 3%;
}

@media (max-width: 960px) {
  .block-whatwedo {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 20% 5% 80%;
        grid-template-rows: 20% 5% 80%;
  }
}

@media screen and (max-width: 640px) {
  .block-whatwedo {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1% 1% 40% 45%;
        grid-template-rows: 1% 1% 40% 45%;
    grid-gap: 8%;
  }
}

@media (max-width: 480px) {
  .block-whatwedo {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1% 1% 40% 45%;
        grid-template-rows: 1% 1% 40% 45%;
    grid-gap: 7%;
  }
}

.block-whatwedo__h1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1/1/2/3;
  font-size: 2.5rem;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .block-whatwedo__h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 960px) {
  .block-whatwedo__h1 {
    font-size: 2rem;
  }
}

@media (max-width: 640px) {
  .block-whatwedo__h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .block-whatwedo__h1 {
    font-size: 1.3rem;
  }
}

.block-whatwedo__h2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2/1/3/3;
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  .block-whatwedo__h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 960px) {
  .block-whatwedo__h2 {
    font-size: 1.3rem;
  }
}

@media (max-width: 640px) {
  .block-whatwedo__h2 {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .block-whatwedo__h2 {
    font-size: 0.9rem;
  }
}

.single-visits {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3/1/4/2;
  background-color: #F2F2F5;
}

.regular-visits {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3/2/4/3;
  background-color: #F2F2F5;
}

@media screen and (max-width: 640px) {
  .regular-visits {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 4/1/5/2;
    margin-top: 7%;
  }
}

.single-visits,
.regular-visits {
  display: -ms-grid;
  display: grid;
  grid-gap: 10%;
  padding: 10%;
  height: 100%;
  -ms-grid-column: 1;
  grid-column: 1fr;
  -ms-grid-rows: 20% 10% 60%;
      grid-template-rows: 20% 10% 60%;
}

@media (max-width: 960px) {
  .single-visits,
  .regular-visits {
    -ms-grid-rows: 15% 10% 70%;
        grid-template-rows: 15% 10% 70%;
  }
}

@media screen and (max-width: 640px) {
  .single-visits,
  .regular-visits {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 15% 10% 70%;
        grid-template-rows: 15% 10% 70%;
    grid-gap: 10%;
  }
}

@media (max-width: 480px) {
  .single-visits,
  .regular-visits {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 10% 8% 80%;
        grid-template-rows: 10% 8% 80%;
    grid-gap: 10%;
  }
}

@media (max-width: 1200px) {
  .img-heart {
    width: 4rem;
  }
}

@media (max-width: 960px) {
  .img-heart {
    width: 3.5rem;
  }
}

@media (max-width: 640px) {
  .img-heart {
    width: 3rem;
  }
}

@media (max-width: 480px) {
  .img-heart {
    width: 2.5rem;
  }
}

.single-visis__header,
.regular-visits__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
}

@media (max-width: 1200px) {
  .single-visis__header,
  .regular-visits__header {
    font-size: 2rem;
  }
}

@media (max-width: 960px) {
  .single-visis__header,
  .regular-visits__header {
    font-size: 1.7rem;
  }
}

@media (max-width: 640px) {
  .single-visis__header,
  .regular-visits__header {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  .single-visis__header,
  .regular-visits__header {
    font-size: 1.5rem;
  }
}

.single-visits__h3,
.regular-visits__h3 {
  margin-left: 1rem;
  font-size: 2rem;
}

@media (max-width: 1200px) {
  .single-visits__h3,
  .regular-visits__h3 {
    font-size: 2rem;
  }
}

@media (max-width: 960px) {
  .single-visits__h3,
  .regular-visits__h3 {
    font-size: 1.8rem;
  }
}

@media (max-width: 640px) {
  .single-visits__h3,
  .regular-visits__h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .single-visits__h3,
  .regular-visits__h3 {
    font-size: 1.3rem;
  }
}

.single-visits__p,
.regular-visits__p {
  font-size: 1.3rem;
  font-weight: 450;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1/3/2;
}

@media (max-width: 1200px) {
  .single-visits__p,
  .regular-visits__p {
    font-size: 1.2rem;
  }
}

@media (max-width: 960px) {
  .single-visits__p,
  .regular-visits__p {
    font-size: 1.1rem;
  }
}

@media (max-width: 640px) {
  .single-visits__p,
  .regular-visits__p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .single-visits__p,
  .regular-visits__p {
    font-size: 0.9rem;
  }
}

.regular-visits__list,
.single-visits__list {
  font-weight: 450;
}

.regular-visits__list_h3,
.single-visits__list_h3 {
  font-size: 1.2rem;
}

@media (max-width: 1200px) {
  .regular-visits__list_h3,
  .single-visits__list_h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 960px) {
  .regular-visits__list_h3,
  .single-visits__list_h3 {
    font-size: 1rem;
  }
}

@media (max-width: 640px) {
  .regular-visits__list_h3,
  .single-visits__list_h3 {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .regular-visits__list_h3,
  .single-visits__list_h3 {
    font-size: 0.8rem;
  }
}

.regular-visits__list_point,
.single-visits__list_point {
  font-size: 1rem;
}

@media (max-width: 1200px) {
  .regular-visits__list_point,
  .single-visits__list_point {
    font-size: 1rem;
  }
}

@media (max-width: 960px) {
  .regular-visits__list_point,
  .single-visits__list_point {
    font-size: 0.9rem;
  }
}

@media (max-width: 640px) {
  .regular-visits__list_point,
  .single-visits__list_point {
    font-size: 0.85rem;
  }
}

@media (max-width: 480px) {
  .regular-visits__list_point,
  .single-visits__list_point {
    font-size: 0.7rem;
  }
}

ul {
  list-style: none;
}

.single-visits__list_point li::before {
  content: "\2022";
  color: #F693BC;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.single-visits__list_h3 {
  color: #F693BC;
}

.regular-visits__list_point li::before {
  content: "\2022";
  color: #4DCDC4;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

li {
  margin-bottom: 3%;
}

.regular-visits__list_h3 {
  color: #4DCDC4;
}

.blockdif {
  background-color: #4DCDC4;
}

.container__row {
  width: 100%;
  margin: auto;
}

.block-tariffs__header, .block-tariffs__p {
  color: white;
  text-align: center;
  margin-bottom: 5%;
}

.block-tariffs__header {
  font-weight: 600;
  font-size: 2.5rem;
  padding-top: 6%;
}

.block-tariffs__p {
  font-weight: 400;
  font-size: 1.5rem;
}

.table-hours__header,
.table-hours__columns {
  background-color: #F2F2F5;
  font-weight: 600;
}

.table-hours {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 2rem;
}

.table-hours__header {
  text-align: left;
}

.table-hours__header_p {
  margin-top: -2.5rem;
  margin-left: 3rem;
  font-size: 1.5rem;
}

.table-hours__columns, .table-hours__rows {
  text-align: left;
}

.table-hours__rows {
  background-color: white;
}

.table-hours__columns_item,
.new-hours__columns_item {
  padding: 1%;
}

.table-hours__rows_item {
  padding: 1%;
}

.new-hours {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  padding-bottom: 2%;
}

.new-hours__header {
  text-align: left;
  padding-left: 1rem;
  padding-top: 1rem;
}

.new-hours__header_p {
  margin-top: -2.5rem;
  margin-left: 3.5rem;
  font-size: 1.5rem;
}

.new-hours__columns, .new-hours__rows {
  text-align: left;
}

.new-hours__header,
.new-hours__columns {
  background-color: #F693BC;
  color: white;
  font-weight: 600;
}

.cross-image {
  width: 2.5rem;
}

.new-hours__data {
  font-weight: 400;
  border-bottom: 0.1px solid #ece9e9;
  padding: 1%;
  background-color: white;
}

.cities {
  max-width: 100%;
  text-align: center;
}

.cities > input[type="radio"] {
  display: none;
}

.cities > input[type="radio"]:checked + label {
  background-color: #F5D536;
}

.cities > div {
  /* скрыть контент по умолчанию */
  display: none;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked ~ #content-1,
#tab-btn-2:checked ~ #content-2,
#tab-btn-3:checked ~ #content-3,
#tab-btn-4:checked ~ #content-4 {
  display: block;
}

.cities > label {
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #F2F2F5;
  padding: 0.9rem 1.9rem;
  font-size: 1.12rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 3rem;
}

.cities > label:first-of-type {
  margin-left: 0;
}

/*блок Санкт Петербург*/
.full {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 50% 25% 25%;
      grid-template-rows: 50% 25% 25%;
  background-color: white;
  margin: 0 auto;
  border: 1px solid black;
}

.full-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.full-header__img {
  width: 4rem;
}

.full-header__h {
  margin-top: 0.9rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.full-p1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2/1/3/3;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.full-p2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3/1/4/3;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-diff {
  color: #292F36;
  background-color: #F2F2F5;
  height: 82vw;
}

@media (max-width: 1200px) {
  .block-diff {
    height: 120vw;
  }
}

@media (max-width: 960px) {
  .block-diff {
    height: 150vw;
  }
}

@media (max-width: 640px) {
  .block-diff {
    height: 190vw;
  }
}

@media (max-width: 480px) {
  .block-diff {
    height: 195vw;
  }
}

.container__row {
  width: 80%;
  margin: auto;
}

.block-difference {
  padding-top: 6%;
}

.block-difference__h1 {
  font-size: 2.5rem;
  font-weight: 600;
  padding-bottom: 4%;
}

@media (max-width: 960px) {
  .block-difference__h1 {
    font-size: 2rem;
  }
}

@media (max-width: 640px) {
  .block-difference__h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .block-difference__h1 {
    font-size: 1rem;
  }
}

.block-difference__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 17% 17% 17%;
      grid-template-columns: 30% 17% 17% 17%;
  grid-gap: 5%;
  background-color: #F693BC;
}

.block-difference__item1,
.block-difference__item2,
.block-difference__item3 {
  font-size: 1.2em;
  font-weight: 600;
  background-color: #F693BC;
  color: #FFFFFF;
  padding-top: 10%;
  padding-bottom: 10%;
}

@media (max-width: 1200px) {
  .block-difference__item1,
  .block-difference__item2,
  .block-difference__item3 {
    font-size: 1.1em;
  }
}

@media (max-width: 960px) {
  .block-difference__item1,
  .block-difference__item2,
  .block-difference__item3 {
    font-size: 0.8em;
  }
}

@media (max-width: 640px) {
  .block-difference__item1,
  .block-difference__item2,
  .block-difference__item3 {
    font-size: 0.55em;
  }
}

@media (max-width: 480px) {
  .block-difference__item1,
  .block-difference__item2,
  .block-difference__item3 {
    font-size: 0.3em;
  }
}

.block-difference__item1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.block-difference__item2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.block-difference__item3 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.block-difference__table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 17% 17% 17%;
      grid-template-columns: 30% 17% 17% 17%;
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10 1fr);
  grid-gap: 5%;
  padding-top: 3%;
  font-size: 0.91em;
}

@media (max-width: 960px) {
  .block-difference__table {
    font-size: 0.8em;
  }
}

@media (max-width: 640px) {
  .block-difference__table {
    font-size: 0.55em;
  }
}

@media (max-width: 480px) {
  .block-difference__table {
    font-size: 0.3em;
  }
}

.block-difference__element1,
.block-difference__element2,
.block-difference__element3,
.block-difference__element4,
.block-difference__element5,
.block-difference__element6,
.block-difference__element7,
.block-difference__element8,
.block-difference__element9,
.block-difference__element10,
.block-difference__element11,
.block-difference__element12,
.block-difference__element13,
.block-difference__element14,
.block-difference__element15,
.block-difference__element16,
.block-difference__element17,
.block-difference__element18,
.block-difference__element19,
.block-difference__element20,
.block-difference__element21,
.block-difference__element22,
.block-difference__element23,
.block-difference__element24,
.block-difference__element25,
.block-difference__element26,
.block-difference__element27,
.block-difference__element28,
.block-difference__element29,
.block-difference__element30 {
  width: 2.5rem;
  height: 2.5rem;
}

@media (max-width: 960px) {
  .block-difference__element1,
  .block-difference__element2,
  .block-difference__element3,
  .block-difference__element4,
  .block-difference__element5,
  .block-difference__element6,
  .block-difference__element7,
  .block-difference__element8,
  .block-difference__element9,
  .block-difference__element10,
  .block-difference__element11,
  .block-difference__element12,
  .block-difference__element13,
  .block-difference__element14,
  .block-difference__element15,
  .block-difference__element16,
  .block-difference__element17,
  .block-difference__element18,
  .block-difference__element19,
  .block-difference__element20,
  .block-difference__element21,
  .block-difference__element22,
  .block-difference__element23,
  .block-difference__element24,
  .block-difference__element25,
  .block-difference__element26,
  .block-difference__element27,
  .block-difference__element28,
  .block-difference__element29,
  .block-difference__element30 {
    width: 2rem;
    height: 2rem;
  }
}

@media (max-width: 640px) {
  .block-difference__element1,
  .block-difference__element2,
  .block-difference__element3,
  .block-difference__element4,
  .block-difference__element5,
  .block-difference__element6,
  .block-difference__element7,
  .block-difference__element8,
  .block-difference__element9,
  .block-difference__element10,
  .block-difference__element11,
  .block-difference__element12,
  .block-difference__element13,
  .block-difference__element14,
  .block-difference__element15,
  .block-difference__element16,
  .block-difference__element17,
  .block-difference__element18,
  .block-difference__element19,
  .block-difference__element20,
  .block-difference__element21,
  .block-difference__element22,
  .block-difference__element23,
  .block-difference__element24,
  .block-difference__element25,
  .block-difference__element26,
  .block-difference__element27,
  .block-difference__element28,
  .block-difference__element29,
  .block-difference__element30 {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media (max-width: 480px) {
  .block-difference__element1,
  .block-difference__element2,
  .block-difference__element3,
  .block-difference__element4,
  .block-difference__element5,
  .block-difference__element6,
  .block-difference__element7,
  .block-difference__element8,
  .block-difference__element9,
  .block-difference__element10,
  .block-difference__element11,
  .block-difference__element12,
  .block-difference__element13,
  .block-difference__element14,
  .block-difference__element15,
  .block-difference__element16,
  .block-difference__element17,
  .block-difference__element18,
  .block-difference__element19,
  .block-difference__element20,
  .block-difference__element21,
  .block-difference__element22,
  .block-difference__element23,
  .block-difference__element24,
  .block-difference__element25,
  .block-difference__element26,
  .block-difference__element27,
  .block-difference__element28,
  .block-difference__element29,
  .block-difference__element30 {
    width: 1.2rem;
    height: 1.2rem;
  }
}

.block-difference__text1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.block-difference__element1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.block-difference__element2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.block-difference__element3 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.block-difference__text2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.block-difference__element4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.block-difference__element5 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.block-difference__element6 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.block-difference__text3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.block-difference__element7 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.block-difference__element8 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.block-difference__element9 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.block-difference__text4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.block-difference__element10 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.block-difference__element11 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.block-difference__element12 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.block-difference__text5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.block-difference__element13 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.block-difference__element14 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.block-difference__element15 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.block-difference__text6 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.block-difference__element16 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.block-difference__element17 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.block-difference__element18 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.block-difference__text7 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
}

.block-difference__element19 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
}

.block-difference__element20 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
}

.block-difference__element21 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
}

.block-difference__text8 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}

.block-difference__element22 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}

.block-difference__element23 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}

.block-difference__element24 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
}

.block-difference__text9 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
}

.block-difference__element25 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
}

.block-difference__element26 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
}

.block-difference__element27 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
}

.block-difference__text10 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
}

.block-difference__element28 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
}

.block-difference__element29 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
}

.block-difference__element30 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
}

.btn {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
  font-size: 1.1rem;
  line-height: 1.55;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-align: center;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
}

.btn_defaultcolor {
  background: #4DCDC4;
}

.btn_defaultcolor:hover {
  background: #2BABA0;
}

.btn_accentСolor {
  background: #FEE474;
}

.btn_accentСolor:hover {
  background: #F5D536;
}

.btn_defaultcolor-accentСolor {
  background: #4DCDC4;
}

.btn_defaultcolor-accentСolor:hover {
  background: #F5D536;
  color: #292F36;
}

@media (min-width: 1200px) {
  .btn {
    width: 240px;
    height: 60px;
  }
}

@media (min-width: 640px) and (max-width: 1200px) {
  .btn {
    width: 180px;
    height: 60px;
  }
}

@media (min-width: 480px) and (max-width: 640px) {
  .btn {
    width: 160px;
    height: 60px;
  }
}

@media (max-width: 480px) {
  .btn {
    width: 300px;
    height: 60px;
  }
}
/*# sourceMappingURL=style.css.map */