.container {
    min-width: 100%;
}


.block-whowe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.block-whowe__slogan {
    grid-row: 1/3;
    grid-column: 1/2;
    }

.block-whowe__text {
    grid-row: 3/4;
    grid-column: 1/2;
}

.block-whowe__image {
    grid-row: 1/4;
    grid-column: 2/3;

}

.block-whowe_p {
    color: #292f36;
    line-height: 1.25;
    font-weight: 600;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    padding-top: 1em;
    margin: 0;

    @media (min-width:$desktop) {
        font-size: 2.5rem;
    }

    @media (min-width: $tablet) {
        font-size: 1.8rem;
    }

    @media (min-width: $mobile) {
        font-size: 1.5rem;

    }

    @media (min-width: $smallMobile) {

        font-size: 1.25rem;
    }

    @media (max-width: $smallMobile) {

        font-size: 1.06rem;
    }

}

.block-whowe_h1 {
    color: #292f36;
    line-height: 1.25;
    font-weight: 600;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    padding-top: 0.67em;
    margin: 0;


    @media (min-width:$desktop) {
        font-size: 4.37rem;
    }

    @media (min-width: $tablet) {
        font-size: 2.5rem;
    }

    @media (min-width: $mobile) {
        font-size: 1.8rem;

    }

    @media (min-width: $smallMobile) {

        font-size: 2.1rem;
    }

    @media (max-width: $smallMobile) {

        font-size: 1.5rem;
    }

}




.block-whowe__slogan_slider {
    height: 185px;
    overflow: hidden;
}



.block-whowe__slogan_slider>div {
    box-sizing: border-box;
    height: 185px;
    text-align: start;
}
.block-whowe__slogan_background {
    background: linear-gradient(to bottom, $lightColor 29%, $accentColor 29% 38%, $lightColor 38% 100%) no-repeat;
    background-size: 280px auto;

}



.block-whowe__slogan1 {

    animation: slide 12s linear infinite;
}
@keyframes slide {
    0% {
        margin-top: -740px;

    }

    5% {
        margin-top: -370px;
    }

    33% {
        margin-top: -370px;
    }

    38% {
        margin-top: -180px;
    }

    66% {
        margin-top: -180px;
    }

    72% {
        margin-top: 0;

    }

    100% {
        margin-top: 0;
    }
}