$default-font: 'Montserrat',
sans-serif;

.container {
    font: $default-font;
    color: $darkColor;
}

.container__row {
    width: 80%;
    margin: auto;
}


.block-whatwedo {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 80%;
    grid-gap: 5%
}

.block-whatwedo__h1 {
    grid-area: 1/1/2/3;
    font-size: 2em;
    font-weight: 600;
}

.block-whatwedo__h2 {
    grid-area: 2/1/3/3;
    font-size: 1.5em;
}

.single-visits {
    grid-area: 3/1/4/2;
    background-color: $backgroundColor;
}

.regular-visits {
    grid-area: 3/2/4/3;
    background-color: $backgroundColor;
}